* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: mssansserif;
}

body {
    background-color: black;
    font-family: sans-serif;
    background-image: url(/utilitários/img/imgHome.jpg);
    background-position: right bottom;
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*--------------------fonte--------------------*/

@font-face {
    font-family: mssansserif;
    src: url(/utilitários/Fontes/mssansserif/microsoft-sans-serif.ttf);
}

/*----------------------------nav----------------------------*/

h1 {
    font-family: arial;
    color: rgba(211, 211, 211, 0.7);
    text-align: end;
    padding: 1em;
}

/*----------------------------opçõesMenu----------------------------*/

#menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: min-content;
    white-space: nowrap;
    line-height: 8vw;
    position: absolute;
    left: 10vw;
    top: 10vw;
    font-size: 3em;
}

h2 {
    color: rgb(255, 255, 255);
white-space: wrap;
    text-align: center;
}

.option2 {
    color: rgba(255, 0, 0, 0.8);
}

/*----------------------------redesSociais----------------------------*/

#social {

    display: flex;
    justify-content: space-between;
    width: 5em;
    padding-top: 35vw;
    padding-left: 5vw;
}

.social-img {
    width: 2em;
}

/*=====================mediaQuery==================================*/

@media (max-width:1000px) {
    #menu {
        position: sticky;
        padding-top: 10vw;
        line-height: 15vw;
    }

    #social {
        padding-top: 20vw;
    }
}

/*=====================mediaQuery==================================*/

@media (max-width:600px) {
    #menu, h1 {
        font-size: 7vw;
        line-height: 20vw;
    }

    #social {
        position: absolute;
        bottom: 2em;
        width: 25vw;
    }

    .social-img {
        width: 8vw;
    }
}

/*=====================mediaQuery==================================*/

@media (max-width:400px) {
    .social-img {
        width: 10vw;
    }
}