* {
    padding: 0;
    margin: 0;
    color: white;
    list-style: none;
}

body {
    background: linear-gradient(180deg, #3b3b3b 10%, #010101 99.99%, #000000 100%);
    background-color: gray;
}

/*--------------------fontes--------------------*/


@font-face {
    font-family: montserif;
    src: url(/utilitários/Fontes/montserif/Fontfabric\ -\ Mont\ ExtraLight\ DEMO.otf);
}

@font-face {
    font-family: montserrat;
    src: url(/utilitários/Fontes/montserrat/Montserrat-Light.otf);
}

@font-face {
    font-family: montserratalternativa;
    src: url(/utilitários/Fontes/montserrat/MontserratAlternates-Regular.otf);
}

@font-face {
    font-family: mssansserif;
    src: url(/utilitários/Fontes/mssansserif/microsoft-sans-serif.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(/utilitários/Fontes/quicksand/Quicksand_Light.otf);
}

@font-face {
    font-family: sansation;
    src: url(/utilitários/Fontes/sansation/Sansation_Light.ttf);
}


/*----------------------------Menu----------------------------*/

nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #3b3b3bbb;
    width: 100vw;
}



h1 {
    display: flex;
    font-family: montserratalternativa;
    width: 100%;
    justify-content: center;
    margin: 0.5em 0em 0em 0em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.menuSocial {
    display: flex;
    position: absolute;
    right: 5em;
    width: 8em;
    justify-content: space-between;
}

.imgSocial {
    height: 1.5em;
}

/*----------------------------intro----------------------------*/

#intro {
    margin: 1em 20% 1em 7.5%;
    line-height: 1.5em;
    font-size: 4em;
    font-family: mssansserif;
}

#introImg {
    display: flex;
    justify-content: center;

}

.introImg-img {
    width: 95vw;
    border-radius: 10px;
}

/*----------------------------box-1/3----------------------------*/

#box {
    display: flex;
    justify-content: space-between;
    margin: 8em 2%;
    background-color: #3b3b3b;
}

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.2em 0 1.5em 0;
    font-family: quicksand;
    font-size: 1.3em;
}

.titleBox {
    margin-bottom: 0.5em;
    font-family: montserif;
    font-weight: bold;
    font-size: 1.4em;
}

/*--------------------allBoxes--------------------*/


.containerImgBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
}

.imgBox {
    width: 45vw;
    border-radius: 1em;
}



/*----------------------------box2----------------------------*/

#box2 {
    display: flex;
    justify-content: space-between;
    background-color: #3b3b3b;
    margin: 5em 2vw;
}

.textBox2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 19vw;
    font-family: quicksand;
    font-size: 1.3em;
    text-align: right;
}

.titleBox2 {
    font-family: montserif;
    font-weight: bold;
    font-size: 1.4em;
}

/*----------------------------box4----------------------------*/
#titleBox4 {
    margin: 1em 2vw 1vw 2vw;
    padding-bottom: 1em;
    font-size: 1.7em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    font-family: quicksand;
    font-weight: bold;
}

#box4 {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: sansation;
    font-size: 1.2em;

}

.contentBox4 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1vw 2vw;
    line-height: 2em;
}

.box4Right {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 1vw 2vw;
    line-height: 2em;
}

/*----------------------------thankfull----------------------------*/

#thankfull {
    font-size: 3em;
    font-family: mssansserif;
    display: flex;
    justify-content: center;
    padding: 2em;
}

/*----------------------------Copyright----------------------------*/

footer {
    display: flex;
    justify-content: center;
    padding-bottom: 2.5em;
}

#menuSocialFooter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.4em 80% 0 5%;
}

.imgSocialFooter {
    width: 2em;
    display: flex;
    align-items: flex-end;
}

.imgLogo {
    width: 1.7em;
    margin-right: 0.2em;
}

.copyright {
    display: flex;
    align-items: center;
    font-family: montserrat;
    font-size: 1.5em;
    position: absolute;
    justify-content: center;
}

/*----------------------------MediaQuery----------------------------*/

@media (max-width:800px) {

    * {}

    /*--------------------Menu--------------------*/

    nav {}

    h1 {}

    .menuSocial {
        display: none;
    }

    .imgSocial {}

    /*--------------------intro--------------------*/

    #intro {
        font-size: 7vw;
        margin: 2em 2vw 1em 1vw;
        width: fit-content;
    }

    .introImg {
        padding: 0%;

    }

    .introImg-img {
        padding: 0%;
        width: 95vw;
        border-radius: 5px;
        margin-bottom: 5em;
    }

    /*--------------------box-1/3--------------------*/

    #box {
        flex-direction: column;
        text-align: left;
        margin: 0;
        align-items: center;
    }

    .textBox {
        padding: 0%;
        margin: 2em 0 1em 0;
        text-align: left;
        width: 89vw;
        line-height: 1.5em;

    }

    .titleBox {}

    .containerImgBox1-3 {
        margin-bottom: 5em;
    }

    /*--------------------allBoxes--------------------*/

    .containerImgBox {
        text-align: right;
    }

    .imgBox {
        width: 90vw;
        padding: 0%;
        border-radius: 5px;

    }

    /*--------------------box2--------------------*/

    #box2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textBox2 {
        padding: 0%;
        margin: 2em 0 0em 0;
        text-align: right;
        width: 89vw;
        line-height: 1.5em;

    }

    .titleBox2 {}

    /*--------------------box4--------------------*/

    #titleBox4 {}

    #box4 {}

    .contentBox4 {}

    .box4Right {}

    /*--------------------thankfull--------------------*/

    #thankfull {}

    /*--------------------footer--------------------*/

    footer {

        background-color: #3b3b3b;
    }

    #menuSocialFooter {}

    .imgSocialFooter {}

    .imgLogo {}

    .copyright {}
}