* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: mssansserif;
    color: white;
}

html {
    font-size: 65%;
}

/*----------------------------fontes----------------------------*/

/*--------------------josefin--------------------*/

@font-face {
    font-family: josefinsanslight;
    src: url('/Assets/Utilitários/Fontes/josefinsans/JosefinSans-Light.ttf');
}

@font-face {
    font-family: josefinsans;
    src: url('/Assets/Utilitários/Fontes/josefinsans/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: josefinsanssemibold;
    src: url('/Assets/Utilitários/Fontes/josefinsans/JosefinSans-SemiBold.ttf');
}

@font-face {
    font-family: josefinsansbold;
    src: url('/Assets/Utilitários/Fontes/josefinsans/JosefinSans-Bold.ttf');
}

/*--------------------montserifOnlyTwo--------------------*/

@font-face {
    font-family: montserif;
    src: url('/Assets/Utilitários/Fontes/montserif/Fontfabric\ -\ Mont\ ExtraLight\ DEMO.otf');
}

@font-face {
    font-family: montserifbold;
    src: url('/Assets/Utilitários/Fontes/montserif/Fontfabric\ -\ Mont\ Heavy\ DEMO.otf');
}

/*--------------------montserrat--------------------*/

@font-face {
    font-family: montserrat;
    src: url('/Assets/Utilitários/Fontes/montserrat/Montserrat-ExtraLight.otf');
}

@font-face {
    font-family: montserratsemibold;
    src: url('/Assets/Utilitários/Fontes/montserrat/Montserrat-Light.otf');
}

@font-face {
    font-family: montserratbold;
    src: url('/Assets/Utilitários/Fontes/montserrat/Montserrat-SemiBold.otf');
}

/*--------------------mssansserifOnlyDefault--------------------*/

@font-face {
    font-family: mssansserif;
    src: url('/Assets/Utilitários/Fontes/mssansserif/microsoft-sans-serif.ttf');
}

/*--------------------quicksand--------------------*/

@font-face {
    font-family: quicksand;
    src: url('/Assets/Utilitários/Fontes/quicksand/Quicksand_Light.otf');
}

@font-face {
    font-family: quicksandbold;
    src: url('/Assets/Utilitários/Fontes/quicksand/Quicksand_Bold.otf');
}

@font-face {
    font-family: quicksandbook;
    src: url('/Assets/Utilitários/Fontes/quicksand/Quicksand_Book.otf');
}

/*--------------------sansation--------------------*/

@font-face {
    font-family: sansation;
    src: url('/Assets/Utilitários/Fontes/sansation/Sansation_Light.ttf');
}

@font-face {
    font-family: sansationbold;
    src: url('/Assets/Utilitários/Fontes/sansation/Sansation_Bold.ttf');
}

/*--------------------typewriter--------------------*/

@font-face {
    font-family: typeleorio;
    src: url('/Assets/Utilitários/Fontes/typeleorio/Leorio.ttf');
}

/*--------------------typewriter--------------------*/

@font-face {
    font-family: typewriter;
    src: url('/Assets/Utilitários/Fontes/courier.ttf');
}

/*--------------------worksans--------------------*/

@font-face {
    font-family: worksanslight;
    src: url('/Assets/Utilitários/Fontes/worksans/WorkSans-Light.ttf');
}

@font-face {
    font-family: worksans;
    src: url('/Assets/Utilitários/Fontes/worksans/WorkSans-Regular.ttf');
}

@font-face {
    font-family: worksanssemibold;
    src: url('/Assets/Utilitários/Fontes/worksans/WorkSans-SemiBold.ttf');
}

@font-face {
    font-family: worksansbold;
    src: url('/Assets/Utilitários/Fontes/worksans/WorkSans-Bold.ttf');
}

/*=====================APRESENTAÇÃO==================================*/

#apresent {
    display: flex;
    justify-content: space-between;
    background-color: rgb(10, 10, 10);
    padding: 10rem 5%;
}

.apresent-img {
    width: 30vw;
    height: fit-content;
}

.containerText {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5rem;
    width: 100%;
}

.title {
    font-size: 4rem;
    font-family: worksans;
}

span {
    color: royalblue;
}

.text {
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    line-height: 4rem;
}

/*=====================Media-Querys==================================*/

@media (max-width: 1024px) {
    html {
        font-size: 62%;
    }

    .title {
        padding-bottom: 1.5rem;
    }
}

/*--------------------900px--------------------*/

@media (max-width: 900px) {
    #apresent {
        flex-direction: column;
        align-items: center;
    }

    .apresent-img {
        width: 50%;
    }

    .title {
        padding-bottom: 5rem;
    }

    .containerText {
        text-align: center;
        padding: 0%;
    }

}

/*--------------------500px--------------------*/

@media (max-width: 500px) {
    html {
        font-size: 55%;
    }

    .apresent-img {
        width: 80%;
    }
}

/*--------------------375px--------------------*/

@media (max-width: 375px) {

    #apresent {
        padding: 8rem 1%;
    }

    .apresent-img {
        width: 100%;
    }
}

/*--------------------300px--------------------*/

@media (max-width: 300px) {
    html {
        font-size: 50%;
    }

    .apresent-img {
        display: none;
    }

}