* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 65%;
}

/*----------------------------fontes----------------------------*/

/*--------------------josefin--------------------*/

@font-face {
    font-family: josefinsanslight;
    src: url('/Assets/Utilitários/Fontes/josefinsans/JosefinSans-Light.ttf');
}

@font-face {
    font-family: josefinsans;
    src: url('/Assets/Utilitários/Fontes/josefinsans/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: josefinsanssemibold;
    src: url('/Assets/Utilitários/Fontes/josefinsans/JosefinSans-SemiBold.ttf');
}

@font-face {
    font-family: josefinsansbold;
    src: url('/Assets/Utilitários/Fontes/josefinsans/JosefinSans-Bold.ttf');
}

/*--------------------montserifOnlyTwo--------------------*/

@font-face {
    font-family: montserif;
    src: url('/Assets/Utilitários/Fontes/montserif/Fontfabric\ -\ Mont\ ExtraLight\ DEMO.otf');
}

@font-face {
    font-family: montserifbold;
    src: url('/Assets/Utilitários/Fontes/montserif/Fontfabric\ -\ Mont\ Heavy\ DEMO.otf');
}

/*--------------------montserrat--------------------*/

@font-face {
    font-family: montserrat;
    src: url('/Assets/Utilitarios/Fontes/montserrat/Montserrat-ExtraLight.otf');
}

@font-face {
    font-family: montserratsemibold;
    src: url('/Assets/Utilitarios/Fontes/montserrat/Montserrat-Light.otf');
}

@font-face {
    font-family: montserratbold;
    src: url('/Assets/Utilitarios/Fontes/montserrat/Montserrat-SemiBold.otf');
}

/*--------------------mssansserifOnlyDefault--------------------*/

@font-face {
    font-family: mssansserif;
    src: url('/Assets/Utilitarios/Fontes/mssansserif/microsoft-sans-serif.ttf');
}

/*--------------------quicksand--------------------*/

@font-face {
    font-family: quicksand;
    src: url('/Assets/Utilitarios/Fontes/quicksand/Quicksand_Light.otf');
}

@font-face {
    font-family: quicksandbold;
    src: url('/Assets/Utilitarios/Fontes/quicksand/Quicksand_Bold.otf');
}

@font-face {
    font-family: quicksandbook;
    src: url('/Assets/Utilitarios/Fontes/quicksand/Quicksand_Book.otf');
}

/*--------------------sansation--------------------*/

@font-face {
    font-family: sansation;
    src: url('/Assets/Utilitarios/Fontes/sansation/Sansation_Light.ttf');
}

@font-face {
    font-family: sansationbold;
    src: url('/Assets/Utilitarios/Fontes/sansation/Sansation_Bold.ttf');
}

/*--------------------typewriter--------------------*/

@font-face {
    font-family: typeleorio;
    src: url('/Assets/Utilitários/Fontes/typeleorio/Leorio.ttf');
}

/*--------------------typewriter--------------------*/

@font-face {
    font-family: typewriter;
    src: url('/Assets/Utilitários/Fontes/courier.ttf');
}

/*--------------------worksans--------------------*/

@font-face {
    font-family: worksanslight;
    src: url('/Assets/Utilitários/Fontes/worksans/WorkSans-Light.ttf');
}

@font-face {
    font-family: worksans;
    src: url('/Assets/Utilitários/Fontes/worksans/WorkSans-Regular.ttf');
}

@font-face {
    font-family: worksanssemibold;
    src: url('/Assets/Utilitários/Fontes/worksans/WorkSans-SemiBold.ttf');
}

@font-face {
    font-family: worksansbold;
    src: url('/Assets/Utilitários/Fontes/worksans/WorkSans-Bold.ttf');
}


/*=====================APRESENTAÇÃO==================================*/

#projetos {
    display: flex;
    flex-direction: column;
    padding: 10rem 5%;
    background-color: rgb(20, 20, 20);
}

.titleProjetos {
    text-align: center;
    font-size: 4rem;
    color: white;
    font-family: worksans;
    padding-bottom: 15rem;
}

.menuProjetos {
    display: flex;
    justify-content: space-between;
}

.eachProjetos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    width: 35rem;
    height: 30em;
    margin: auto 2rem;
    padding: 2rem;
    border: 1px solid rgba(65, 105, 225, 0.797);
}

.titleProj {
    font-size: 2rem;
    font-family: montserratbold;
    color: rgba(255, 255, 255);
}

.textProj {
    font-size: 1.8rem;
    color: lightgray;
    font-family: mssansserif;
    line-height: 3rem;
}

.entrarProj {
    color: rgba(65, 105, 225);
    font-size: 2rem;
    font-family: josefinsanssemibold;
}

.legendProjetos {
    text-align: end;
    padding-top: 7rem;
    font-size: 1.7rem;
    font-family: arial;
    color: rgba(211, 211, 211, 0.6);
}

.entrarProj:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/*=====================Media-Querys==================================*/

/*--------------------1024px--------------------*/

@media (max-width: 1024px) {
    html {
        font-size: 60%;
    }
}

/*--------------------900px--------------------*/

@media (max-width: 900px) {

    .menuProjetos {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .eachProjetos {
        width: 70vw;
        margin-bottom: 5rem;
    }
}

/*--------------------500px--------------------*/

@media (max-width: 500px) {
    html {
        font-size: 58%;
    }

    .eachProjetos {
        width: 100%;
    }
}

/*--------------------375px--------------------*/

@media (max-width: 375px) {
    html {
        font-size: 55%;
    }
}