* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 65%;
}

body {
    overflow-x: hidden
}

/*----------------------------fontes----------------------------*/

/*--------------------josefin--------------------*/

@font-face {
    font-family: josefinsanslight;
    src: url('/Assets/Utilitarios/Fontes/josefinsans/JosefinSans-Light.ttf');
}

@font-face {
    font-family: josefinsans;
    src: url('/Assets/Utilitarios/Fontes/josefinsans/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: josefinsanssemibold;
    src: url('/Assets/Utilitarios/Fontes/josefinsans/JosefinSans-SemiBold.ttf');
}

@font-face {
    font-family: josefinsansbold;
    src: url('/Assets/Utilitarios/Fontes/josefinsans/JosefinSans-Bold.ttf');
}

/*--------------------montserifOnlyTwo--------------------*/

@font-face {
    font-family: montserif;
    src: url('/Assets/Utilitarios/Fontes/montserif/Fontfabric\ -\ Mont\ ExtraLight\ DEMO.otf');
}

@font-face {
    font-family: montserifbold;
    src: url('/Assets/Utilitarios/Fontes/montserif/Fontfabric\ -\ Mont\ Heavy\ DEMO.otf');
}

/*--------------------montserrat--------------------*/

@font-face {
    font-family: montserrat;
    src: url('/Assets/Utilitarios/Fontes/montserrat/Montserrat-ExtraLight.otf');
}

@font-face {
    font-family: montserratsemibold;
    src: url('/Assets/Utilitarios/Fontes/montserrat/Montserrat-Light.otf');
}

@font-face {
    font-family: montserratbold;
    src: url('/Assets/Utilitarios/Fontes/montserrat/Montserrat-SemiBold.otf');
}

/*--------------------mssansserifOnlyDefault--------------------*/

@font-face {
    font-family: mssansserif;
    src: url('/Assets/Utilitarios/Fontes/mssansserif/microsoft-sans-serif.ttf');
}

/*--------------------quicksand--------------------*/

@font-face {
    font-family: quicksand;
    src: url('/Assets/Utilitarios/Fontes/quicksand/Quicksand_Light.otf');
}

@font-face {
    font-family: quicksandbold;
    src: url('/Assets/Utilitarios/Fontes/quicksand/Quicksand_Bold.otf');
}

@font-face {
    font-family: quicksandbook;
    src: url('/Assets/Utilitarios/Fontes/quicksand/Quicksand_Book.otf');
}

/*--------------------sansation--------------------*/

@font-face {
    font-family: sansation;
    src: url('/Assets/Utilitarios/Fontes/sansation/Sansation_Light.ttf');
}

@font-face {
    font-family: sansationbold;
    src: url('/Assets/Utilitarios/Fontes/sansation/Sansation_Bold.ttf');
}

/*--------------------typewriter--------------------*/

@font-face {
    font-family: typeleorio;
    src: url('/Assets/Utilitarios/Fontes/typeleorio/Leorio.ttf');
}

/*--------------------typewriter--------------------*/

@font-face {
    font-family: typewriter;
    src: url('/Assets/Utilitarios/Fontes/courier.ttf');
}

/*--------------------worksans--------------------*/

@font-face {
    font-family: worksanslight;
    src: url('/Assets/Utilitarios/Fontes/worksans/WorkSans-Light.ttf');
}

@font-face {
    font-family: worksans;
    src: url('/Assets/Utilitarios/Fontes/worksans/WorkSans-Regular.ttf');
}

@font-face {
    font-family: worksanssemibold;
    src: url('/Assets/Utilitarios/Fontes/worksans/WorkSans-SemiBold.ttf');
}

@font-face {
    font-family: worksansbold;
    src: url('/Assets/Utilitarios/Fontes/worksans/WorkSans-Bold.ttf');
}

/*=====================inicio==================================*/

#backgroundStars {
    animation: is-panning 5s ease-in-out alternate infinite;
    background-image: url("/Portfolios/Portfolio2/Assets/CSS/inicioStars.png");
    background-size: contain;
    width: 120%;
    height: 120vh;
    z-index: -1;
    position: absolute;
}

.contentInicio {
    color: white;
}

@keyframes is-panning {
    from {
        transform: translateX(-50px);
    }
}

#inicio {
    display: flex;
    flex-direction: row;
    background-image: url("inicioStars.png");
    background-size: contain;
    height: 120vh;
}

.leftInicio {
    width: 60%;
    padding-left: 1vh;
}

.contentWelcome {
    font-size: 4rem;
    font-family: mssansserif;
    line-height: 6rem;
    padding: 30vh 0 15vh 0;
}

span {
    color: royalblue;
}

.citation {
    font-size: 2rem;
    font-family: typewriter, monospace;
    color: rgba(255, 255, 255, 0.7);
    line-height: 3rem;
    padding-bottom: 10vh;
}

.author {
    font-size: 2rem;
    font-family: typeleorio;
    color: rgba(255, 255, 255, 0.8);
}

#inicioBack {
    background-image: url("/Portfolios/Portfolio2/Assets/CSS/inicioPlaneta.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    z-index: -1;
    width: 55vw;
    height: 115vh;
}

/*=====================media-query==================================*/


@media (max-width: 1024px) {
    html {
        font-size: 60%;
    }

    .leftInicio {
        width: 70%;
    }
}

/*--------------------950px--------------------*/

@media (max-width: 950px) {
    html {
        font-size: 55%;
    }
}

/*--------------------768px--------------------*/

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .leftInicio {
        width: 80%;
        text-align: center;
        padding: 0;
    }
}

/*--------------------500px--------------------*/

@media (max-width: 500px) {
    html {
        font-size: 53%;
    }

    #inicioBack {
        display: none;
    }

    .leftInicio {
        width: 100%;
    }

    .textViewCv {
        right: 0.5em;
        display: none;
    }
}

/*--------------------340px--------------------*/

@media (max-width: 340px) {
    .contentWelcome {
        padding: 4em 0;
    }
}