* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to left, rgb(70, 70, 70), rgba(30, 30, 30, 1));

}

/*----------------------------fontes----------------------------*/

/*--------------------sansation--------------------*/

@font-face {
    font-family: sansationbold;
    src: url('/portfolios/Portfolio2/Assets/Utilitarios/Fontes/sansation/Sansation_Light.ttf');
}

@font-face {
    font-family: mssansserif;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/montserrat/Montserrat-Light.otf ');
}

@font-face {
    font-family: worksans;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/worksans/WorkSans-Regular.ttf');
}

/*=====================TITULO==================================*/

h1 {
    font-size: 2rem;
    text-align: left;
    font-family: sansationbold;
    color: white;
    margin: 1rem 0rem 1rem 20rem;
}

h2 {
    text-align: center;
    font-family: mssansserif;
    color: lightgray;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0.5rem 2rem 0 2rem;
    padding-bottom: 0.5rem;
}

/*=====================IMAGENS==================================*/

.contentCenter {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.help {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65vw;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.link-next {
    position: absolute;
    top: 50%;
    right: 0%;
}

.next {
    opacity: 0.8;
    width: 10vw;
    height: 10vw;
}

/*--------------------imagens-hover-------------------*/


.help:hover {
    width: 70vw;
    box-shadow: 0px 2px 16px 5px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
}

.next:hover {
    opacity: 1;
    cursor: pointer;
}

/*=====================LINK-OPCIONAL==================================*/

p,
a {
    font-size: 1.5rem;
    font-family: worksans;
    color: greenyellow;
    position: absolute;
    right: 0.5rem;
    bottom: 0.2rem;
    width: max-content;
    z-index: -2;
}

/*--------------------link-hover-------------------*/

p:hover {
    opacity: 0.5;
}

/*=====================MEDIA-QUERYS==================================*/

/*=====================850px=====================*/

@media(max-width:850px) {
    html {
        font-size: 90%;
    }

    h1 {
        text-align: center;
        margin: 1rem 0;
    }

    .help {
        width: 70vw;
    }

    .help:hover {
        width: 75vw;
    }
}

/*=====================450px=====================*/

@media(max-width:450px) {
    html {
        font-size: 80%;
    }
}

/*=====================850px=====================*/

@media(max-width:330px) {
    html {
        font-size: 70%;
    }
}