* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
}


body::-webkit-scrollbar {
    width: 15px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(10, 10, 10);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.4);
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    border: 1px solid rgba(65, 105, 225, 0.1);
    scrollbar-shadow-color: white;
    /* creates padding around scroll thumb */
}

/* === Google Font Import - Poppins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*----------------------------fontes----------------------------*/

/*--------------------courier--------------------*/

@font-face {
    font-family: mycourier;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/courier.ttf');
}

/*--------------------josefin--------------------*/

@font-face {
    font-family: josefinsanslight;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/josefinsans/JosefinSans-Light.ttf');
}

@font-face {
    font-family: josefinsans;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/josefinsans/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: josefinsanssemibold;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/josefinsans/JosefinSans-SemiBold.ttf');
}

@font-face {
    font-family: josefinsansbold;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/josefinsans/JosefinSans-Bold.ttf');
}

/*--------------------montserifOnlyTwo--------------------*/

@font-face {
    font-family: montserif;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/montserif/Mont.otf');
}

@font-face {
    font-family: montserifbold;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/montserif/MontHeavy.otf');
}

/*--------------------montserrat--------------------*/

@font-face {
    font-family: montserrat;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/montserrat/Montserrat-ExtraLight.otf');
}

@font-face {
    font-family: montserratsemibold;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/montserrat/Montserrat-Light.otf');
}

@font-face {
    font-family: montserratbold;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/montserrat/Montserrat-SemiBold.otf');
}

/*--------------------mssansserifOnlyDefault--------------------*/

@font-face {
    font-family: mssansserif;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/mssansserif/microsoft-sans-serif.ttf');
}

/*--------------------Poppins--------------------*/

@font-face {
    font-family: poppins;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/poppins/Poppins-Light.otf');
}

@font-face {
    font-family: poppinsmedium;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/poppins/Poppins-Medium.otf');
}

/*--------------------quicksand--------------------*/

@font-face {
    font-family: quicksand;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/quicksand/Quicksand_Light.otf');
}

@font-face {
    font-family: quicksandbold;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/quicksand/Quicksand_Bold.otf');
}

@font-face {
    font-family: quicksandbook;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/quicksand/Quicksand_Book.otf');
}

/*--------------------sansation--------------------*/

@font-face {
    font-family: sansation;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/sansation/Sansation_Light.ttf');
}

@font-face {
    font-family: sansationbold;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/sansation/Sansation_Bold.ttf');
}

/*--------------------typeleorio--------------------*/

@font-face {
    font-family: typeleorio;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/typeleorio/Leorio.ttf');
}

/*--------------------typewriter--------------------*/

@font-face {
    font-family: typewriter;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/courier.ttf');
}

/*--------------------worksans--------------------*/

@font-face {
    font-family: worksanslight;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/worksans/WorkSans-Light.ttf');
}

@font-face {
    font-family: worksans;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/worksans/WorkSans-Regular.ttf');
}

@font-face {
    font-family: worksanssemibold;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/worksans/WorkSans-SemiBold.ttf');
}

@font-face {
    font-family: worksansbold;
    src: url('/Portfolios/Portfolio2/Assets/Utilitarios/Fontes/worksans/WorkSans-Bold.ttf');
}


/*=====================MENU-FIXADO==================================*/

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 11;
    position: fixed;
    width: 100vw;
    padding: 2%;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.logo-img {
    width: 2rem;
    height: fit-content;
}

.textLogo {
    display: flex;
    font-size: 2.5rem;
    font-family: sansation;
    color: white;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: worksans;
    /* width: 45vw; */
    padding-right: 10%;
}

.optMenu {
    color: lightgray;
    padding-left: 10vw;
}

/*--------------------menu-hover-------------------*/

.optMenu:hover {
    opacity: 0.8;
    transition: 0.2s;
}

/*===========================INICIO===========================*/

#inicio {
    display: flex;
    flex-direction: row;
    background-image: url("inicioStars.png");
    background-size: cover;
    width: fit-content;
    height: 120vh;
}

.leftInicio {
    z-index: 1;
    width: 60%;
    padding-left: 1vh;
}

.contentWelcome {
    font-size: 2.5rem;
    font-family: mssansserif;
    line-height: 4rem;
    padding: 30vh 0 15vh 0;
}

span {
    color: royalblue;
}

.citation {
    font-size: 1.5rem;
    font-family: typewriter, monospace;
    color: rgba(255, 255, 255, 0.7);
    line-height: 2rem;
    padding-bottom: 10vh;
}

.author {
    font-size: 1.5rem;
    font-family: monospace;
    color: rgba(255, 255, 255, 0.7);
}

#inicioBack {
    background-image: url("inicioPlaneta.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    width: 55vw;
    height: 115vh;
}

/*===========================APRESENTAÇÃO===========================*/

#apresent {
    display: flex;
    background-color: rgb(10, 10, 10);
    padding: 10% 10%;
}

.apresent-img {
    width: 40%;
    height: fit-content;
}

.containerText {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3em;
}

.title {
    font-size: 2.5rem;
    font-family: 'Archivo', sans-serif;
    color: white;
}

span {
    color: royalblue;
}

.text {
    font-size: 1.5rem;
    font-family: mssansserif;
    color: lightgray;
    line-height: 2.5rem;
}

/*===========================EXPERIENCIA===========================*/

#experiencia {
    display: flex;
    flex-direction: column;
    font-family: arial;
    color: white;
    padding: 10% 10%;
}

.titleExperiencia {
    font-size: 2rem;
    font-family: worksans;
    text-align: right;
    padding-bottom: 10vh;
}

.middleExperiencia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/*--------------------menu--------------------*/

.menuExperiencia {
    background-color: rgb(10, 10, 10);
    height: fit-content
}

.optionMenuExp {
    font-size: 1.3rem;
    font-family: josefinsans;
    color: whitesmoke;
    border-left: 2px solid transparent;
    cursor: pointer;
    padding: 1.5em 2.5em;
}

/*--------------------texto-experiencia--------------------*/

.containerExperiencia {
    width: 52vw;
    /* padding-left: 1em; */
}

.titleContainerExp {
    font-size: 1.5rem;
    padding-bottom: 2vh;
    font-family: montserratbold;
}

.subtitleContainerExp {
    font-size: 1.4rem;
    font-family: montserratsemibold;
    color: royalblue;
    padding-bottom: 1vh;
}

.textContainerExp {
    font-size: 1.2em;
    line-height: 2rem;
    color: rgba(211, 211, 211, 0.8);
    font-family: mssansserif;
}

/*--------------------certificados-------------------*/

.contCertificate {
    display: none;
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}

.titleCertificates {
    font-size: 1.5rem;
    color: lightgray;
    padding-bottom: 2rem;
}

.optionCertificates {
    font-size: 1.5rem;
    font-family: josefinsanslight;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 1rem;
    margin: auto;
}

.optionsCertificates {
    display: flex;
    justify-content: center;
    text-decoration: none;
    line-height: 10vh;
    padding-bottom: 1em;
}

.optionCertificates2 {
    display: flex;
    flex-direction: row;
    margin: auto;
    line-height: 10vh;
    padding-bottom: 2em;
}

.alignCertificate {
    display: flex;
    justify-content: center;
}

.certificates {
    display: none;
    font-size: 1.3rem;
    font-family: josefinsans;
    color: black;
    font-weight: bold;
    border-radius: 2em;
    cursor: pointer;
    width: fit-content;
    padding: 1rem;
    margin-bottom: 4rem;
}

/*--------------------imagens-experiencia--------------------*/

.containerImgExp {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 0 0em 0;
}

.containerImgExp-img {
    display: none;
    width: 55vw;
}

.containerImgExp-img2 {
    display: none;
    height: fit-content;
}

.containerImgExp-img3 {
    display: none;
}

.legendContImgExp {
    font-size: 1rem;
    color: rgba(211, 211, 211, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 0 2rem 0;
}

.downloadCvExp {
    text-align: right;
    font-size: 1.3rem;
    font-family: josefinsans;
    color: black;
    font-weight: bold;
    border-radius: 2em;
    cursor: pointer;
    width: fit-content;
    padding: 1rem;
}

/*----------hover----------*/

.optionMenuExp:hover {
    border-left: 2px solid royalblue;
}

.optionMenuExp:hover, .downloadCvExp:hover {
    opacity: 0.7;
}

.optionCertificates:hover {
    opacity: 0.8;
}

.certificates:hover {
    opacity: 0.8;
}

/*=====================PROJETOS==================================*/

#cards-slid {
    background: rgb(15, 15, 15);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cards {
    display: flex;
    align-items: center;
    position: relative;
    width: 80vw;
    height: 450px;
}

.swiper {
    width: 70vw;
}

.card {
    position: relative;
    background: black;
    color: white;
    height: 20em;
    border: 1px solid royalblue;
}

.swiper-pagination {
    position: absolute;
    top: 450px;
}

.swiper-pagination-bullet {
    height: 0.5em;
    width: 2em;
    border-radius: 3px;
    background: white;
}

.swiper-button-next, .swiper-button-prev {
    opacity: 0.7;
    color: white;
    transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    opacity: 1;
    color: white;
}

/*--------------------Proj--------------------*/

#projetos {
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
}

.titleProjetos {
    font-size: 3rem;
    font-family: worksans;
    color: white;
    text-align: center;
    padding: 4em 0 1em 0;
    /* width: 100; */
}

/*--------------------quadrado--------------------*/

.menuProjetos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.eachProjetos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    height: 18em;
    margin: 1em;
}

.titleProj {
    font-size: 1.3rem;
    font-family: montserratbold;
    color: rgba(255, 255, 255);
}

.textProj {
    font-size: 1.2rem;
    font-family: mssansserif;
    color: lightgray;
    line-height: 2rem;
}

.entrarProj {
    font-size: 1.5rem;
    font-family: josefinsanssemibold;
    color: #4169e1;
    border-bottom: 1px solid rgba(10, 10, 10, 0);
}

.legendProjetos {
    text-align: end;
    font-size: 1rem;
    font-family: arial;
    color: rgba(211, 211, 211, 0.6);
    width: 100%;
    padding: 1em 10% 5em 0;
}

/*--------------------hover--------------------*/

.entrarProj:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/*===========================THANKFULL===========================*/

#thankfull {
    text-align: center;
    font-size: 3.2rem;
    font-family: mssansserif;
    padding: 10% 5%;
}

.menuFooter {
    font-size: 2rem;
    font-family: josefinsans;
    line-height: 2em;
    padding: 0 0 5em 10%;
}

.btnMenuFooter-a {
    color: lightgray;
    text-decoration: underline;
}

/*----------menu-footer-hover----------*/

.btnMenuFooter:hover {
    opacity: 0.6;
    transform: translateX(5px);
    transition: all 0.3s;
    width: fit-content;
}

/*===========================FOOTER===========================*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 10%;
    padding: 2%;
}

.contatos {
    display: flex;
    justify-content: space-between;
    width: 20rem;
}

.contatos-img {
    width: 2em;
}

.containerCopyright {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: worksans;
    color: rgba(211, 211, 211, 0.6);
}

.copyright-img {
    width: 3rem;
    margin-left: 1rem;
}

/*----------footer-hover----------*/

.contatos-img:hover {
    width: 3.5em;
    transition: 0.1s;
}


/*=====================MEDIA-QUERYS==================================*/

/*=====================1200px=====================*/


/*=====================768px=====================*/

@media (max-width: 768px) {.contentWelcome{background-color: pink;}}